.audio-on {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 5px solid green;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.audio-off {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 5px solid red;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.on-off {
  display: flex;
}
