body, div, h1, h2, h3, li {
  font-family: inherit;
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 26px;
  margin: 20px auto;
}

h2 {
  text-align: center;
}

header {
  width: 100%;
  margin: 10px;
  text-align: center;

}

body {
  font-family: sans-serif;
  font-size: 10px;
  font-weight: bold;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.volume-effect, .delay-effect, .tremolo-effect {
  width: 400px;
  border-radius: 10px;
  border: 2px solid black;
  padding: 20px;
  margin: 20px;
}

.volume-on-container{
  width: 33.33%
}

.volume-controls{
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.audio-on, .delay-on, .tremolo-on{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 5px solid green;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.audio-off, .delay-off, .tremolo-off {
  background-color: white;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 5px solid red;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#on-off, #delay-on-off, #tremolo-on-off{
  cursor: pointer;
}

.js-delay {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.waveform-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

#volume {
  height: 100px;
  width: 3px;
  border: none;
  outline: none;
  position: relative;
  background-color: black;
  border-radius: 10px;
}
#volume .ui-slider-range{
  background-color: red;
  color: red;
  height: 100px;
  width: 3px;
  bottom: 0;
  position: absolute;
  z-index: 1;
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;

}

.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  cursor: pointer;
  background-color: red;
  border: 1px solid black;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  right: -4.6px;
}

#volume .ui-slider-handle:focus{
  outline: 0;
}

.waveform{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: black;
}

.volume-slider-container, .waveform-container, .volume-on-container{
  width: 33.33%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delay-on-container, .tremolo-on-container {
  display: flex;
  justify-content: center;
}

.delay-speed-slider-container,
.delay-intensity-slider-container,
.delay-filter-slider-container,
.delay-bypass-slider-container,
.tremelo-speed-slider-container,
.tremelo-depth-slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#delay-time,
#delay-intensity,
#delay-filter,
#delay-bypass,
#tremolo-depth,
#tremolo-speed {
  margin: 10px;
  height: 3px;
  width: 200px;
  border: none;
  outline: none;
  position: relative;
  background-color: black;
  border-radius: 10px;
}
#delay-time .ui-slider-range,
#delay-intensity .ui-slider-range,
#delay-filter .ui-slider-range,
#delay-bypass .ui-slider-range,
#tremolo-depth .ui-slider-range,
#tremolo-speed .ui-slider-range{
  background-color: red;
  color: red;
  height: 3px;
  width: 200px;
  bottom: 0;
  position: absolute;
  z-index: 1;
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
}

.ui-slider-handle:focus{
  outline: 0;
}

#delay-time > span,
#delay-intensity > span,
#delay-filter > span,
#delay-bypass > span,
#tremolo-depth > span,
#tremolo-speed > span {
	position: absolute;
	z-index: 2;
	cursor: pointer;
  background-color: red;
  border: 1px solid black;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  top: -3.6px;
  right: -4.6px;
}
